<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 2000 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <title>Halma Game v1</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>


  <style>
    body {
      padding-top: 10px;
    }
  </style>
</head>

<body>
  <div class="container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Halma Game
            </a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/about">About</a></li>
        </ul>

      </div>
    </nav>
  </header>

  <main>