
.game {
  max-width: 750px;
  display: flex;
}

.game-field {
  border: 2px solid darkblue;
}

.game-cell-8 {
  background-color: #784f17;
  border: 1px solid #784f17;
  border-radius: 1px;
  
  margin: 1px;
  min-width: 60px;
  height: 60px;
}

.game-cell-10 {
  background-color: #784f17;
  border: 1px solid #784f17;
  border-radius: 1px;
  
  margin: 1px;
  min-width: 50px;
  height: 50px;
}

.game-cell-16 {
  background-color: #784f17;
  border: 1px solid #784f17;
  border-radius: 1px;
  
  margin: 1px;
  min-width: 40px;
  height: 40px;
}

.black {
  background-color: #f1d3ad;
}

.p1{
  background-image: url('../img/p1.png');
  background-repeat: no-repeat;
}

.p2{
  background-image: url('../img/p2.png');
  background-repeat: no-repeat;
}

.textPage{
  font-size: 18px;
}

.panelTools {
   
   width: 90px;
   padding: 6px;
   border-radius: 5px;
   background-color: #ddddff;
}

.panelTools button {
  
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #eeaaee;
  
}


.gameInfo {
  background-color: #ddddff;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 16px;
}

.gameInfo span {
  font-weight: bold;
}

.info-block {
  padding: 6px;
  
  margin-right: 10px;
  border: 1px solid lightblue;
  background-color: #eeeeee;
  border-radius: 5px;
}

@keyframes showOnAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 100;
  }
}
